.account-settings {
    max-width: 30em;
}

.easter-egg {
    animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.error-display {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}

.hidden {
    visibility: hidden;
}

.organization-card {
    margin: 1em;
    max-width: 300px;
}

.organization-cards {
    display: flex;
    flex-flow: row wrap;
}

.project-preview-card {
    margin: 1em;
    width: 100%;
}

.projects {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.transparent-button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}


/* https://github.com/jgthms/bulma/issues/936 */

.modal.has-overflow {
    position: fixed !important;
    overflow: auto !important;
}

.modal.has-overflow .modal-background {
    position: fixed !important;
}

.modal.has-overflow .modal-content {
    overflow: visible !important;
}

.modal.has-overflow .modal-card {
    overflow: visible !important;
}

.modal.has-overflow .modal-card-body {
    overflow: visible !important;
}