.account-settings {
    max-width: 30em;
}

.error-display {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}

.hidden {
    visibility: hidden;
}

.organization-card {
    margin: 1em;
    max-width: 300px;
}

.organization-cards {
    display: flex;
    flex-flow: row wrap;
}

.project-preview-card {
    margin: 1em;
    width: 100%;
}

.projects {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.transparent-button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}