.browser-element {
  display: inline-block;
  width: 10em;
}

.browser-row {
  margin: 0 auto;
  padding: 1em 1em;
}

.browser-row-active {
  border-right: solid red;
}

.browser-row:hover {
  /* background-color: #b0ffff; */
}

.browser-row-odd {
  background-color: #c0ffff;
}
