.delete-button {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  margin-left: -1.2em;
  margin-top: 0.5em;
}

.tag {
  display: flex;
}

.tag-left {
  background: lightblue;
  clip-path: polygon(100% 0%, 100% 100%, 0% 50%);
  min-width: 0.5em;
}

.tag-content {
  background: lightblue;
  padding: 0.2em 0.5em;
}
